{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Team 17</h3>
                <p class="lead" style="font-weight: 350;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur placeat sunt sit. Facilis voluptas voluptatibus officiis exercitationem aperiam voluptates tempora mollitia suscipit illo reprehenderit hic dolores aliquam odio nobis dicta quis quae voluptatem, illum veniam molestias quos ipsum totam esse molestiae? Quam eligendi nisi quia.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='jashtest18@gmail.com'><img
                        src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0" height="30" width="40"></a> :
                jashtest18@gmail.com<br><br>
                <a target="_blank"href="https://www.linkedin.com/"><img src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" height="40" width="40" ></a>&nbsp
                : linkedin<br><br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Venu Sir</h3>
                <p class="lead" style="font-weight: 350;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ab veritatis nostrum similique voluptas praesentium eaque veniam minus, dicta eligendi placeat repudiandae, magni, et nesciunt non! Perspiciatis quam non dolorum voluptate voluptas reiciendis at aspernatur! Quia molestias, aliquid distinctio aperiam at nisi, ducimus magni aliquam quam neque omnis animi fugit sed quaerat maxime assumenda sit?
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0" height="30" width="40"></a> :
                venu@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                        src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" height="44" width="44"></a> :
                Lorem, ipsum dolor.<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Lorem, ipsum dolor.<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}